body {
    background-color: rgb(185, 238, 175);
}

.label {
    height: 20px;
    text-align: left;
    padding-bottom: 5px;
    font-size: 14px;
}

.button-dropdown {
    height: 40px;
    width: fit-content;
    max-width: 260px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border: none;
    background-color: white;
    border-radius: 5px;
    color: grey;
    cursor: pointer;
}

.button-dropdown.active {
    border: 2px solid rgb(43, 117, 60);
}

.button-dropdown-text {
    width: calc(100% - 20px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
}

.list-wrapper {
    position: absolute;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(44, 44, 44, 0.19);
    overflow-y: auto;
}

.option {
    display: flex;
    gap: 10px;
    align-items: center;
}