body {
    background-color: rgb(170, 223, 161);
}

.container {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
}

.label {
    height: 20px;
    text-align: left;
    padding-bottom: 5px;
    font-size: 14px;
}

.button-dropdown {
    height: 40px;
    width: fit-content;
    max-width: 260px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border: none;
    background-color: white;
    border-radius: 5px;
    color: grey;
    cursor: pointer;
}

.button-dropdown-text {
    width: fit-content;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-wrapper {
    width: fit-content;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(44, 44, 44, 0.19);
    overflow-y: auto;
}

.option {
    display: flex;
    gap: 10px;
    align-items: center;
}